---
import Quote from "./quotes.astro";
---

<section id="quotes" class="relative z-0 py-12 flex flex-col items-center justify-center gap-8 px-4">
  <div class="relative z-10 flex flex-col items-center justify-center gap-5">
    <h2
      class="text-[37px] md:text-[58px] w-full max-w-[14ch] md:max-w-max text-center font-normal leading-none text-[#383838] tracking-tight"
    >
      Orçamentos Instantâneos.<br class="hidden md:block"/> Mais clientes atendidos, muito mais rápido.
    </h2>

    <p class="text-sm md:text-[17px] text-center leading-snug tracking-[-0.02em] max-w-[36ch] md:max-w-[47ch]">
      A IA da Sharpi envia orçamentos 24/7, liberando seu time para focar em relacionamentos que impulsionam o crescimento.
    </p>
  </div>

  <div class="z-0 w-full max-w-7xl  h-[680px]  md:h-auto  md:aspect-[1356/512] rounded-[20px] overflow-hidden">
    <Quote />
  </div>
</section>