---

---

<section id="all-in-one" class="py-28 flex flex-col items-center justify-center gap-8 px-4">
  <div class="space-y-5">
    <h2
      class="text-[37px] md:text-[58px] max-w-[24ch] text-center  font-normal leading-none text-[#383838] mb-8 tracking-tight"
      >
      A única ferramenta que o seu comercial precisa
    </h2>
    
    <p class="text-sm md:text-[17px] text-center leading-snug tracking-[-0.02em] max-w-[60ch] mx-auto " >
      A Sharpi centraliza sua jornada de vendas, respeita seu processo comerciale unifica todos os dados em uma única plataforma
    </p>

   
  </div>
</section>