---
import DataSourceFunnel from "./input-funnels.astro";
import Button from "@/components/ui/button/index.astro";
import DeviceSimulation from "./device-simulation.astro";
---

<section class="relative z-0 w-full h-screen flex overflow-hidden">
  <div class="relative z-10 flex items-center flex-1 flex-col pt-64">
    <Button> Agende uma demo </Button>
    <h1
      class="text-[58px] max-w-[30ch] text-center text-balance font-normal leading-none text-[#383838] mb-14"
    >
      Máquina de vendas com IA para Indústrias e Distribuidores
    </h1>

    <DeviceSimulation />
  </div>

  <div class="absolute z-0 inset-0 w-full h-full p-4">
    <div class="w-full h-full bg-black/10 rounded-2xl">
      <video
        src="/assets/medias/index/hero/hero-bg.mp4"
        class="w-full h-full object-cover rounded-2xl opacity-30"
        autoplay
        loop
        muted></video>
    </div>
  </div>

  <div class="absolute z-5 inset-0 w-full h-full translate-y-1/3 p-4">
    <DataSourceFunnel />
  </div>

  <div
    class="absolute z-10 bottom-0 left-0 right-0 bg-gradient-to-b from-transparent to-white h-1/4"
  >
  </div>
</section>
