---
import BigNumberCard from "./big-number-card.astro";
---

<section id="numbers" class="py-28 px-2.5 w-full flex flex-col items-center justify-center overflow-hidden">
  <h2
    class="text-[37px] md:text-[58px] text-balance  text-center font-normal leading-none text-[#383838] mb-5 md:mb-14 tracking-tight"
  >
    Nossos números falam por si
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-6 max-w-6xl w-full mt-8">
    <BigNumberCard
      bigNumber="24/7"
      bigNumberTitle="Operates day-in day-out"
      description="Nossa IA está sempre disponível para responder seus clientes, aumentando significativamente a taxa de conversão e satisfação."
    />
    <BigNumberCard
      bigNumber="60%"
      bigNumberTitle="Customer satisfaction Increase"
      description="Clientes Sharpi perceberam uma melhoria de até 60% na força de vendas quando combinando o uso agêntico e pedidos de PDFs complexos."
    />
    <BigNumberCard
      bigNumber="5k"
      bigNumberTitle="Daily API Requests"
      description="Mais de 500 empresas confiam na Sharpi para automatizar seus processos de vendas e melhorar seus resultados."
    />
    <BigNumberCard
      bigNumber="10x"
      bigNumberTitle="ROI Increase"
      description="Cinco anos desenvolvendo soluções de IA para vendas, com expertise comprovada no mercado brasileiro."
    />
    <BigNumberCard
      bigNumber="30%"
      bigNumberTitle="Customer satisfaction"
      description="Cinco anos desenvolvendo soluções de IA para vendas, com expertise comprovada no mercado brasileiro."
    />
    <BigNumberCard
      bigNumber="25%"
      bigNumberTitle="Acquisition Cost"
      description="Cinco anos desenvolvendo soluções de IA para vendas, com expertise comprovada no mercado brasileiro."
    />
  </div>
</section>
