---
import BigNumberCard from "./big-number-card.astro";

const bigNumbers = [
  {
    bigNumber: "80%",
    bigNumberTitle: "Tempo ganho em lançamento de pedidos",
    description: ""
  },
  {
    bigNumber: "9,8%",
    bigNumberTitle: "Conversão de clientes com mensagens da IA",
    description: ""
  },
  {
    bigNumber: "R$ 1bi",
    bigNumberTitle: "Transacionados na Sharpi",
    description: ""
  },
  {
    bigNumber: "5x",
    bigNumberTitle: "Cotações respondidas mais rápido",
    description: ""
  },
  {
    bigNumber: "98%",
    bigNumberTitle: "Precisão da IA em pedidos recorrentes",
    description: ""
  },
  {
    bigNumber: "8hs → 30min",
    bigNumberTitle: "lançamento de grandes pedidos",
    description: ""
  }
];
---

<section id="numbers" class="py-28 px-2.5 w-full flex flex-col items-center justify-center overflow-hidden">
  <h2
    class="text-[37px] md:text-[58px] text-balance  text-center font-normal leading-none text-[#383838] mb-5 md:mb-8 tracking-tight"
  >
    Nossos números falam por si
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-3 md:gap-6 max-w-7xl w-full ">
    {bigNumbers.map((item) => (
      <BigNumberCard
        bigNumber={item.bigNumber}
        bigNumberTitle={item.bigNumberTitle}
        description={item.description}
      />
    ))}
  </div>
</section>
