@import "tailwindcss";
@import "./fonts.css";
@import "./vendors/splide.css";

@source inline("inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50");

@source inline("{hover:,}bg-{primary,secondary,destructive,accent}{,/90,/80}");

@source inline("text-{primary,primary-foreground,secondary-foreground,destructive-foreground} {hover:,}text-accent-foreground");

@source inline("border border-input bg-background");

@source inline("underline-offset-4 {hover:,}underline");

@source inline("h-{9,10,11} w-10 px-{3,4,8} py-2");


*::selection {
  color: white;
  background: #0059FF;
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-body);
}

body {
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-antialiased: true;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

video {
  -webkit-playsinline: true;
  -webkit-touch-callout: none;
}


@theme {
  --font-suisse-intl: 'suisse-intl';
  --font-body: var(--font-suisse-intl);
}

