---
interface Props {
  targetScale?: string;
  cardId?: string;
}

const { targetScale = 1, cardId = "testimonials-card" } = Astro.props;
---


<article
  id={cardId}
  class="testimonials-card origin-top-left transition-all duration-300 ease-in-out w-[308px] aspect-[308/224]  bg-white rounded-xl flex border-[0.5px] border-[rgba(0,0,0,0.12)]"
  style={`transform: scale(${targetScale}); `}
  data-target-scale={targetScale}
>
  <div class="flex flex-col gap-8 p-4 justify-between flex-1">
    <div class="flex gap-1 items-center">
      <div class="size-6.5 shrink-0 bg-gray-200 rounded-full"></div>
      <div class="flex flex-col gap-0.5">
        <span class="font-normal text-sm text-[#3A3A3A] leading-none">Luisa Abrantes</span>
        <div class="flex gap-0.5">
          <span class="font-normal text-sm text-[#747474] leading-none">CEO</span>
          <span class="font-medium text-sm text-[#3A3A3A] leading-none">Mantiqueira Foods</span>
        </div>
      </div>  
    </div>

    <p class="text-sm tracking-[-0.02em] leading-snug mt-auto text-balance">
      We needed a partner that understands what Accardi Foods needs today and in the future — Sharpi’s technology, including their AI, checked all the boxes and delivered a solution we can rely on every day.
    </p>
  </div>
</article>

