---
import Card from "./card.astro";
---


<section id="testimonials" class="py-28 flex flex-col items-center justify-center">
  <h2
    class="text-[58px] max-w-[28ch] text-center  font-normal leading-none text-[#383838] mb-14 tracking-tight"
  >
    Os times de venda mais avançados confiam na Sharpi
  </h2>


  <div class="relative z-0 aspect-[1356/740] w-full max-w-6xl mx-auto">
    <video
      class="absolute z-0 w-full h-full inset-0 rounded-2xl  opacity-20 object-cover"
      src="/assets/medias/index/testimonials/background.mp4"
      autoplay
      loop
      muted
      
    >
    </video>

    <div class="absolute top-[7%] left-[44%] z-10 w-[24%] aspect-[326/403] rounded-2xl bg-white overflow-hidden">
      <img src="/assets/medias/index/testimonials/img-04.png" alt="Avatar" class="w-full h-full object-cover"/>

    </div>

    <div class="absolute top-[32%] left-[21%] z-10 w-[22%] aspect-[308/224] rounded-[14px] bg-zinc-200">
      <Card/>
    </div>
    
    <div class="absolute top-[63.5%] left-[31%] z-10 w-[12%] aspect-[165/203] rounded-2xl bg-white overflow-hidden">
      <img src="/assets/medias/index/testimonials/img-02.png" alt="Avatar" class="w-full h-full object-cover"/>
    </div>
    
    <div class="absolute top-[63.5%] left-[16.75%] z-10 w-[13%] aspect-[178/104] rounded-[14px] bg-zinc-200">
      <Card/>
    </div>
    
    <div class="absolute top-[63.5%] left-[44%] z-10 w-[22%] aspect-[308/203] rounded-[14px] bg-zinc-200">
      <Card/>
    </div>
    
    <div class="absolute top-[54%] left-[69%] z-10 w-[16.5%] aspect-[224/150] rounded-[14px] bg-zinc-200">
      <Card/>
    </div>
    
    <div class="absolute top-[35%] left-[60%] z-10 w-[13%] aspect-[178/104] rounded-[14px] bg-zinc-200">
      <Card/>
    </div>
    
    <div class="absolute top-[42%] left-[74%] z-10 w-[5%] aspect-[72/72] rounded bg-white overflow-hidden">
      <img src="/assets/medias/index/testimonials/img-03.png" alt="Avatar" class="w-full h-full object-cover"/>
    </div>
    
    <div class="absolute top-[52%] left-[14%] z-10 w-[5%] aspect-[72/72] rounded bg-white overflow-hidden">
      <img src="/assets/medias/index/testimonials/img-01.png" alt="Avatar" class="w-full h-full object-cover"/>
    </div>

  </div>
</section>