---
import Hero from "@/components/pages/index/sections/hero/index.astro";
import Layout from "@/layouts/Layout.astro";
import Customers from "@/components/pages/index/sections/customers/index.astro";
import Erp from "@/components/pages/index/sections/erp/index.astro";
import Testimonials from "@/components/pages/index/sections/testimonials/index.astro";
import Benefits from "@/components/pages/index/sections/benefits/index.astro";
import Numbers from "@/components/pages/index/sections/numbers/index.astro";
import HowTo from "@/components/pages/index/sections/how-to/index.astro";
import AllInOne from "@/components/pages/index/sections/all-in-one/index.astro";
import Quotes from "@/components/pages/index/sections/quotes/index.astro";

import Header from "@/components/shared/header/index.astro";

---

<Layout>
  <Header />
  <Hero />
  <!-- <Customers /> -->
  <!-- <HowTo /> -->
  <!-- <AllInOne /> -->
  <div class="relative z-0 md:pt-20">
    <Quotes />
  </div>
  <!-- <Benefits /> -->
  <Numbers />
  <!-- <Erp /> -->
  <!-- <Testimonials /> -->
</Layout>
