---
import NotificationStack from "./notification-stack.astro";
---

<div
  id="hero-device"
  class="relative z-0 h-full w-96 rounded-t-[60px] bg-gradient-to-b from-[#ffffff38] to-[#ffffff] overflow-hidden backdrop-blur-sm opacity-0 translate-y-[30px]"
>
  <div class="absolute inset-0 p-6 flex">
    <div
      class="absolute top-4 left-1/2 -translate-x-1/2 w-18 h-5 rounded-full bg-white"
    >
    </div>

    <div class="w-full relative">
      <NotificationStack />
    </div>
  </div>

  <div
    class="absolute inset-0 bg-gradient-to-br from-white/20 via-transparent to-transparent pointer-events-none rounded-t-[60px]"
  >
  </div>
</div>
