---
import { Image } from "astro:assets";

import sapLogo from "@/assets/erp/sap.webp";
import oracleLogo from "@/assets/erp/oracle.png";
import targetLogo from "@/assets/erp/target.png";
import totvsLogo from "@/assets/erp/totvs.png";
import tinyLogo from "@/assets/erp/tiny.webp";

const erps = [
  {
    name: "SAP",
    logo: sapLogo,
    alt: "Logo da SAP - ERP integrado com Sharpi",
  },
  {
    name: "Oracle",
    logo: oracleLogo,
    alt: "Logo da Oracle - ERP integrado com Sharpi",
  },
  {
    name: "Target",
    logo: targetLogo,
    alt: "Logo da Target - ERP integrado com Sharpi",
  },
  {
    name: "Totvs",
    logo: totvsLogo,
    alt: "Logo da Totvs - ERP integrado com Sharpi",
  },
  {
    name: "Tiny",
    logo: tinyLogo,
    alt: "Logo da Tiny - ERP integrado com Sharpi",
  },
];
---

<section
  id="erp"
  class="px-4 md:px-10 flex flex-col md:flex-row items-center justify-between max-w-5xl mx-auto py-28 gap-10"
>
  <div class="space-y-4 md:space-y-10 shrink-0 max-w-lg">
    <h2
      class="font-normal text-balance leading-none tracking-[-1.5px] text-[37px] md:text-[58px] text-[#573DFF]"
    >
      Seu ERP, nosso desafio.
    </h2>
    <p
      class="text-base leading-snug font-normal text-[#3D3939] tracking-tight text-balance"
    >
      Nossos especialistas fazem de tudo para se conectar ao seu ERP—seja ele
      qual for—garantindo um fluxo de dados perfeito desde o primeiro dia.
    </p>
  </div>

  <div
    class="flex flex-wrap items-center justify-center gap-8 w-full md:w-auto max-w-md"
  >
    {
      erps.map((erp) => (
        <div class="flex place-self-center max-w-20 md:max-w-30 items-center justify-center transition-all duration-300">
          <Image
            src={erp.logo}
            alt={erp.alt}
            width={120}
            height={80}
            quality={90}
            class="brightness-0 saturate-100"
            style="filter: brightness(0) saturate(100%) invert(34%) sepia(75%) saturate(3558%) hue-rotate(239deg) brightness(96%) contrast(105%);"
            loading="lazy"
            format="webp"
          />
        </div>
      ))
    }
  </div>
</section>
