---
import { Image } from "astro:assets";

import sapLogo from "@/assets/erp/sap.webp";
import oracleLogo from "@/assets/erp/oracle.png";
import targetLogo from "@/assets/erp/target.png";
import totvsLogo from "@/assets/erp/totvs.png";
import tinyLogo from "@/assets/erp/tiny.webp";
import sankhyaLogo from "@/assets/erp/sankhya.png";
import omieLogo from "@/assets/erp/omie.png";
import microsoftDynamicsLogo from "@/assets/erp/microsoft-dynamics.png";

const erps = [
  {
    name: "SAP",
    logo: sapLogo,
    alt: "Logo da SAP - ERP integrado com Sharpi",
  },
  {
    name: "Totvs",
    logo: totvsLogo,
    alt: "Logo da Totvs - ERP integrado com Sharpi",
  },
  {
    name: "Sankhya",
    logo: sankhyaLogo,
    alt: "Logo da Sankhya - ERP integrado com Sharpi",
  },
  {
    name: "Target",
    logo: targetLogo,
    alt: "Logo da Target - ERP integrado com Sharpi",
  },
  {
    name: "Tiny",
    logo: tinyLogo,
    alt: "Logo da Tiny - ERP integrado com Sharpi",
  },
  {
    name: "Omie",
    logo: omieLogo,
    alt: "Logo da Omie - ERP integrado com Sharpi",
  },
  {
    name: "Oracle",
    logo: oracleLogo,
    alt: "Logo da Oracle - ERP integrado com Sharpi",
  },
  {
    name: "Microsoft Dynamics",
    logo: microsoftDynamicsLogo,
    alt: "Logo da Microsoft Dynamics - ERP integrado com Sharpi",
  },

];
---

<section
  id="erp"
  class="px-4  flex flex-col  items-center justify-between max-w-7xl mx-auto py-28 gap-10"
>
  <div class="space-y-4 md:space-y-10 shrink-0   flex flex-col items-center justify-center">
    <h2
      class="font-normal text-balance leading-none tracking-[-1.5px] text-center  text-[37px] text-[#573DFF] md:text-[48px]  "
    >
      Seu ERP, nosso desafio.
    </h2>
    <p
      class="text-base leading-snug font-normal text-[#3D3939] tracking-tight text-balance text-center  w-fit md:max-w-[55ch]"
    >
      Nossos especialistas fazem de tudo para se conectar ao seu ERP—seja ele
      qual for—garantindo um fluxo de dados perfeito desde o primeiro dia.
    </p>
  </div>

  <div
    class="w-full md:w-fit grid grid-cols-2 md:grid-cols-4 items-center justify-center gap-3 "
  >
    {
      erps.map((erp, index) => {
        const isOddTotal = erps.length % 2 !== 0;
        const isLastElement = index === erps.length - 1;
        const shouldHideOnMobile = isOddTotal && isLastElement;

        return (
          <div class={`place-self-center w-full md:w-fit aspect-square md:size-[180px] bg-[#573DFF] items-center justify-center rounded transition-all duration-300 ${shouldHideOnMobile ? 'hidden md:flex' : 'flex'}`}>
            <Image
              src={erp.logo}
              alt={erp.alt}
              width={120}
              height={80}
              quality={90}
              class="size-24 object-contain"
              style="filter: brightness(0) saturate(100%) invert(100%)"
              loading="lazy"
              format="webp"
            />
          </div>
        );
      })
    }
  </div>
</section>
