---
const erps = [
  {
    name: "SAP",
    logo: "/assets/medias/index/erp/sap.webp",
  },
  {
    name: "Oracle",
    logo: "/assets/medias/index/erp/oracle.png",
  },
  {
    name: "Target",
    logo: "/assets/medias/index/erp/target.png",
  },
  {
    name: "Totvs",
    logo: "/assets/medias/index/erp/totvs.png",
  },
  {
    name: "Tiny",
    logo: "/assets/medias/index/erp/tiny.png",
  },
  {
    name: "TID",
    logo: "/assets/medias/index/erp/tid.png",
  },
];
---

<section
  id="erp"
  class="px-10 flex items-center justify-between max-w-5xl mx-auto py-28"
>
  <div class="space-y-10">
    <h2 class="font-normal tracking-[-1.5px] text-5xl text-[#573DFF]">
      Seu ERP, nosso desafio.
    </h2>
    <p
      class="text-base leading-snug font-normal text-[##3D3939] tracking-tight text-balance"
    >
      Nossos especialistas fazem de tudo para se conectar ao seu ERP—seja ele
      qual for—garantindo um fluxo de dados perfeito desde o primeiro dia.
    </p>
  </div>
  <div class="grid grid-cols-3 gap-8">
    {
      erps.map((erp) => (
        <div class="flex max-w-30 items-center justify-center transition-all duration-300">
          <img
            src={erp.logo}
            alt={erp.name}
            class="brightness-0 saturate-100 "
            style="filter: brightness(0) saturate(100%) invert(34%) sepia(75%) saturate(3558%) hue-rotate(239deg) brightness(96%) contrast(105%);"
          />
        </div>
      ))
    }
  </div>
</section>
