---
import { Image } from "astro:assets";

import multiplasLogo from "@/assets/customers/multiplas.png";
import polarLogo from "@/assets/customers/polar.png";
import mantiqueiraLogo from "@/assets/customers/mantiqueira.png";
import boldLogo from "@/assets/customers/bold.png";
import casasLogo from "@/assets/customers/casas.png";
import dismaxLogo from "@/assets/customers/dismax.png";

const customers = [
  {
    name: "Multiplas",
    logo: multiplasLogo,
    alt: "Logo da Multiplas - cliente da Sharpi",
  },
  {
    name: "Polar",
    logo: polarLogo,
    alt: "Logo da Polar - cliente da Sharpi",
  },
  {
    name: "Mantiqueira",
    logo: mantiqueiraLogo,
    alt: "Logo da Mantiqueira - cliente da Sharpi",
  },
  {
    name: "Bold",
    logo: boldLogo,
    alt: "Logo da Bold - cliente da Sharpi",
  },
  {
    name: "Casas Pedro",
    logo: casasLogo,
    alt: "Logo da Casas Pedro - cliente da Sharpi",
  },
  {
    name: "Dismax",
    logo: dismaxLogo,
    alt: "Logo da Dismax - cliente da Sharpi",
  },
];
---

<section id="customers" class="overflow-x-hidden py-10 mt-20 px-4 md:px-0">
  <div class="container mx-auto space-y-8">
    <h2
      class="text-sm font-normal text-center leading-none text-[#969696] tracking-tight"
    >
      Times de venda avançados que confiam na Sharpi:
    </h2>
    <ul
      class="flex flex-wrap-reverse md:flex-nowrap gap-x-10 gap-y-4 md:gap-x-20 md:gap-y-20 items-center justify-center"
    >
      {
        customers.map((customer) => (
          <li>
            <div class="grayscale rounded-lg w-fit max-w-[80px] md:max-w-[100px] flex items-center justify-center">
              <Image
                src={customer.logo}
                alt={customer.alt}
                width={100}
                height={70}
                quality={100}
                class="w-full h-full object-contain max-h-[60px] md:max-h-[70px]"
                loading="lazy"
                format="webp"
              />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
