---
const customers = [
  {
    name: "Multiplas",
    logo: "/assets/medias/index/customers/multiplas.png",
  },
  {
    name: "Polar",
    logo: "/assets/medias/index/customers/polar.png",
  },
  {
    name: "Mantiqueira",
    logo: "/assets/medias/index/customers/mantiqueira.png",
  },
  {
    name: "Bold",
    logo: "/assets/medias/index/customers/bold.png",
  },
  {
    name: "Casas Pedro",
    logo: "/assets/medias/index/customers/casas.png",
  },
  // {
  //   name: "Vidaveg",
  //   logo: "/assets/medias/index/customers/vidaveg.png",
  // },
  // {
  //   name: "Organicos da Fatima",
  //   logo: "/assets/medias/index/customers/organicos.png",
  // },
];
---

<section id="customers" class="overflow-x-hidden py-10 mt-20 px-4 md:px-0">
  <div class="container mx-auto  space-y-8">
    <h2
      class="text-sm font-normal text-center leading-none text-[#969696] tracking-tight"
    >
      Times de venda avançados que confiam na Sharpi:
    </h2>
    <ul class="flex  flex-wrap-reverse md:flex-nowrap gap-x-10 gap-y-4 md:gap-x-20 md:gap-y-20 items-center justify-center">
      {
        customers.map((customer) => (
          <li>
            <div class="grayscale rounded-lg  w-fit max-w-[80px] md:max-w-[100px] flex items-center justify-center ">
              <img
                class="w-full h-full object-contain max-h-[60px] md:max-h-[70px] "
                src={customer.logo}
                alt={customer.name}
              />
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
