---
import '@splidejs/splide/css/core';
import RecommendationCard from "./recommendation.astro";

import FollowUpCard from "./follow-up.astro";
import NotificationsCard from "./notifications.astro";
import ReactivationCard from "./reactivation.astro";



---

<section id="benefits" class="py-28 px-2.5 w-full flex flex-col items-center justify-center overflow-hidden">
  <h2
    class="text-[37px] md:text-[58px] max-w-[18ch] text-center font-normal leading-none text-[#383838] mb-5 md:mb-14 tracking-tight"
  >
    Nossa IA vende com você e para você.
  </h2>
  <p class="text-sm text-center  tracking-[-0.02em] leading-snug text-[#3D3939] mb-10 md:hidden">A IA da Sharpi envia orçamentos 24/7, liberando seu time para focar em relacionamentos que impulsionam o crescimento.</p>

  <div class="splide max-w-7xl w-full" id="benefits-carousel">
    <div class="splide__track !overflow-visible">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="shining-border">
            <RecommendationCard/>
          </div>
        </li>
        <li class="splide__slide">
          <div class="shining-border">
            <ReactivationCard/>
          </div>
        </li>
        <li class="splide__slide">  
          <div class="shining-border">
            <NotificationsCard/>
          </div>
        </li>
        <li class="splide__slide">
          <div class="shining-border">
            <FollowUpCard/>
          </div>
        </li>
      
      </ul>
    </div>
  </div>
</section>

<style>
  .shining-border {
    padding: 2px;
    position: relative;
    overflow: hidden;
    border-radius: 21px;
    transition: all 0.3s ease;
  }

  .splide__slide.is-active .shining-border::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 180%;
    height: 180%;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100% 100%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image:  linear-gradient(180deg, #3609FF 0%, #F1F1F1 23.56%, #CFD9FF 44.23%, #7EADFF 100%);
    animation: bgRotate 4s linear infinite;
  }

  .splide__slide.is-active .shining-border::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: #F0F0F0;
    border-radius: 20px;
  }

  @keyframes bgRotate {
    100% {
      transform: rotate(1turn);
    }
  }
</style>

<script>
  import { Splide } from '@splidejs/splide';

  document.addEventListener('DOMContentLoaded', () => {
    const splide = new Splide('#benefits-carousel', {
      perMove: 1,
      speed: 800,
      pagination: false,
      arrows: false,
      isNavigation: true,
      autoWidth: true,
      // drag: "free",
      wheel: true,
      gap: 20,
      breakpoints: {
        640: {
          gap: 16,
        },
      },
    });

    splide.mount();
  });
</script>