<article class="w-[472px] aspect-[472/543] bg-[#F0F0F0] rounded-[20px] flex flex-col">
  <h3 class="mx-auto mt-9 text-[17px] leading-none tracking-[-0.03em] font-normal text-[#303030]">Reative clientes inativos</h3>

  <div class="absolute inset-0  flex flex-col gap-8 items-center justify-center">
    <div class="space-y-3.5 w-full">
  

      <div class="w-full mx-auto max-w-[320px] shadow-[0_0_20px_rgba(0,0,0,0.05)]">
        <div class="bg-white rounded-[14px] border-[0.5px] border-black/12 p-4 pb-5.5  flex flex-col items-center gap-2">
          
          <div class="flex justify-between gap-1.5 w-full items-center">
            <span class="text-[#3a3a3a] tracking-[-0.02em] leading-none font-medium text-sm">Clientes invativos</span>
            
            <span class="text-[#232222] text-normal text-[10px] opacity-60 tracking-[-0.02em] leading-none">Dias sem comprar</span>
          </div>


          <div class="flex flex-col gap-3.5 w-full mt-4">

            <div class="flex gap-2 items-center w-full">
              <div class="size-3 bg-[#EDEDED] rounded flex items-center justify-center">
                <div class="size-2 rounded-xs bg-[#B9B9B9]"/>
              </div>
              <span class="text-black text-normal text-sm tracking-[-0.02em] leading-snug">
                Super mercados Planalto
              </span>

              <span class="ml-auto text-white opacity-60 py-1 px-1.5 rounded bg-[#8679FF] text-[10px] tracking-[-0.02em] leading-none font-medium">
                30 dias
              </span>
            </div>
    
            <div class="flex gap-2 items-center w-full">
              <div class="size-3 bg-[#EDEDED] rounded flex items-center justify-center">
                <div class="size-2 rounded-xs bg-[#B9B9B9]"/>
              </div>
              <span class="text-black text-normal text-sm tracking-[-0.02em] leading-snug">
                Mercado Bom Preço
              </span>

              <span class="ml-auto text-white opacity-60 py-1 px-1.5 rounded bg-[#8679FF] text-[10px] tracking-[-0.02em] leading-none font-medium">
                45 dias
              </span>
            </div>
            <div class="flex gap-2 items-center w-full">
              <div class="size-3 bg-[#EDEDED] rounded flex items-center justify-center">
                <!-- <div class="size-2 rounded-xs bg-[#B9B9B9]"/> -->
              </div>
              <span class="text-[#3A3939] opacity-60 text-normal text-sm tracking-[-0.02em] leading-snug">
                Atacadão Central
              </span>

              <span class="ml-auto text-white opacity-60 py-1 px-1.5 rounded bg-[#8679FF] text-[10px] tracking-[-0.02em] leading-none font-medium">
                52 dias
              </span>
            </div>
          </div>

          <div class="w-full bg-[#8468F7] h-9 rounded-lg mt-6 p-3 text-white text-normal  tracking-[-0.02em] leading-none text-xs flex items-center justify-center gap-2">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M6.80213 2.08826C6.82642 1.95823 6.89542 1.84078 6.99718 1.75627C7.09895 1.67175 7.22707 1.62549 7.35935 1.62549C7.49163 1.62549 7.61975 1.67175 7.72151 1.75627C7.82328 1.84078 7.89228 1.95823 7.91657 2.08826L8.51233 5.23884C8.55464 5.46283 8.6635 5.66886 8.82468 5.83005C8.98587 5.99124 9.1919 6.10009 9.41589 6.1424L12.5665 6.73817C12.6965 6.76245 12.8139 6.83146 12.8985 6.93322C12.983 7.03498 13.0292 7.1631 13.0292 7.29538C13.0292 7.42767 12.983 7.55578 12.8985 7.65755C12.8139 7.75931 12.6965 7.82831 12.5665 7.8526L9.41589 8.44836C9.1919 8.49068 8.98587 8.59953 8.82468 8.76072C8.6635 8.9219 8.55464 9.12794 8.51233 9.35193L7.91657 12.5025C7.89228 12.6325 7.82328 12.75 7.72151 12.8345C7.61975 12.919 7.49163 12.9653 7.35935 12.9653C7.22707 12.9653 7.09895 12.919 6.99718 12.8345C6.89542 12.75 6.82642 12.6325 6.80213 12.5025L6.20637 9.35193C6.16405 9.12794 6.0552 8.9219 5.89401 8.76072C5.73283 8.59953 5.52679 8.49068 5.3028 8.44836L2.15223 7.8526C2.02219 7.82831 1.90475 7.75931 1.82023 7.65755C1.73572 7.55578 1.68945 7.42767 1.68945 7.29538C1.68945 7.1631 1.73572 7.03498 1.82023 6.93322C1.90475 6.83146 2.02219 6.76245 2.15223 6.73817L5.3028 6.1424C5.52679 6.10009 5.73283 5.99124 5.89401 5.83005C6.0552 5.66886 6.16405 5.46283 6.20637 5.23884L6.80213 2.08826Z" fill="white"/>
              <path d="M11.8926 1.62695V3.89437" stroke="white" stroke-width="0.566854" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M13.0272 2.76074H10.7598" stroke="white" stroke-width="0.566854" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M2.82511 12.9642C3.45124 12.9642 3.95882 12.4566 3.95882 11.8305C3.95882 11.2044 3.45124 10.6968 2.82511 10.6968C2.19898 10.6968 1.69141 11.2044 1.69141 11.8305C1.69141 12.4566 2.19898 12.9642 2.82511 12.9642Z" stroke="white" stroke-width="0.566854" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            Reativar Clientes
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-2 w-full items-center">
        <span class="text-[#232222] text-normal text-xs tracking-[-0.02em] leading-none">Preview da Mensagem</span>
  
        <div class="relative  z-10 w-full mx-auto max-w-[320px] ">

        
          <div class="relative z-0 bg-white rounded-[14px] border-[0.5px] border-black/12 py-5 px-4.5 flex items-start justify-between gap-2 shadow-[0_0_20px_rgba(0,0,0,0.05)] group">
            <video
              src="/assets/medias/index/benefits/particles-check.mp4"
              autoplay
              loop
              muted
              playsinline
              class="size-7 rounded-lg  object-contain"
            />
            
            <span class="text-[#585858] text-normal text-sm tracking-[-0.02em] leading-[1.2]">
              João, vi que você não compra detergente há 30 dias. Posso montar uma sugestão de pedido para você?
            </span>
  
            <div class="absolute right-0 top-0 translate-x-[40%] translate-y-[-40%] size-4.5 rounded-full bg-white flex items-center justify-center shadow-[0_2px_9px_rgba(0,0,0,0.1)] opacity-0 group-hover:opacity-100 transition-opacity duration-200">
              <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.38666 11.5807L11.2403 5.72705" stroke="black" stroke-width="1.72025" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.55261 5.72699L11.4062 11.5806" stroke="black" stroke-width="1.72025" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>